<div class="row record">
  <div class="col">
    <button *ngIf="!editing" title="Edit record"><span class="fa fa-pencil-square-o" (click)="editing = !editing"></span></button>
    <button *ngIf="!editing" title="Open record"><span class="fa fa-folder-open"></span></button>
    <button *ngIf="editing" title="Save record" (click)="save()"><span class="fa fa-floppy-o"></span></button>
  </div>
  <div class="col">
    {{record.division}}
  </div>
  <div class="col">
    {{record.title}}
  </div>
  <div class="col">
    <span *ngIf="!editing">{{record.budget | currency}}</span>
    <input *ngIf="editing" type="number" [(ngModel)]="record.budget" />
  </div>
  <div class="col">
    <span *ngIf="!editing">{{record.status}}</span>
    <input *ngIf="editing" type="text" [(ngModel)]="record.status" />
  </div>
  <div class="col">
    <span *ngIf="!editing">{{record.project_owner}}</span>
    <input *ngIf="editing" type="text" [(ngModel)]="record.project_owner" />
  </div>
  <div class="col">
    {{record.created}}
  </div>
  <div class="col">
    {{record.modified}}
  </div>
</div>
