<div class="row record">
  <div class="col">
    <button><span class="fa fa-pencil-square-o"></span></button>
    <button><span class="fa fa-folder-open"></span></button>
  </div>
  <div class="col">
    {{record.division}}
  </div>
  <div class="col">
    {{record.title}}
  </div>
  <div class="col">
    {{record.budget | currency}}
  </div>
  <div class="col">
    {{record.status}}
  </div>
  <div class="col">
    {{record.project_owner}}
  </div>
  <div class="col">
    {{record.created}}
  </div>
  <div class="col">
    {{record.modified}}
  </div>
</div>
