/**------------------------------------------------------------
* MIX-INS
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transition-default($speed: .3s) {
  @include transition(all $speed ease-in-out);
}

@mixin ul-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
