@import '../sass/_variables.scss';
@import '../sass/_mixins.scss';

app-filters {
  height: 100%;
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  z-index: 20;
  @include transition-default();

  &.visible {
    right: 0;
  }
}

header {
  background: $theme-bg;
  color: $theme-fg;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  button, input, h1 {
    display: inline-block;
  }

  input {
    padding: 8px;
    position: relative;
    top: -6px;
  }

  button {
    float: right;
    font-size: 2em;
    line-height: 99px;
    margin-right: 20px;

    .fa {
      color: #FFF;
    }
  }

  input {
    min-width: 300px;
  }

  h1 {
    padding: 10px;
    font-weight: normal;
  }
}

section {
  font-size: 14px;
  margin-top: 105px;

  ul {
    @include ul-reset();
    clear: both;

    li {
      @include ul-reset();
      @include border-radius(8px);
    }

    &.records {
      li {
        font-weight: bold;
        line-height: 40px;
        min-height: 40px;
        margin-top: 15px;

        &:nth-child(odd) {
          background: #c8c8c8;
        }

        &.column-titles {
          background: transparent;

          .col {
            text-align: left;
          }
        }

        button {
          padding: 0 10px;
        }

        .col:first-child {
          text-align: center;
        }

        .fa {
          line-height: 40px;
        }
      }
    }
  }
}

.filter-overlay {
  background: rgba(0,0,0,.5);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}

.fixed-action-button {
  background: $theme-bg;
  bottom: 20px;
  color: $theme-fg;
  height: 50px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: 50px;
  @include border-radius(50px);

  .fa {
    font-size: 24px;
    line-height: 50px;
  }
}
